language: java

addons:
  sonarcloud:
    organization: travistestgithub # the key of the org you chose at step #3
    token:
      secure: 真真真真真真真真 # encrypted value of your token

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
